* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 350px;
    border: 2px solid aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.box {
    width: 190px;
    height: 320px;
    border: 3px solid black;
    padding-left: 10px;
}

.box h3 {
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    color: grey;
}

.box p{
    font-style: italic;
    font-size: 15px;
    line-height: 1.7em;
    
}

.container2{
margin-top: 200px;
}